.block {
    box-sizing: border-box;
    max-height: 600px;
    overflow: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: 1px solid #000 ;
}

.block1 {
    background-color: #c2a987;
    display: inline-block;
    width: 250px;
    height: 180px;

    padding: 20px;
    margin: 10px 5px;

    border-radius: 30px;
    box-shadow: inset 1px 1px 10px #6e5656;
}

p {
    font-size: 20px;
}