.contact {
    padding: 140px 0;
    background: url("../img/decor/bg-contact.png") 50% 0 / cover no-repeat;
}

.contact__inner {
    display: flex;
    gap: 84px;
    align-items: end;
    position: relative;
}

.contact__inner::before {
    content: url("../img/decor/berries.png");
    position: absolute;
    top: -4%;
    left: 0;
}
.contact__inner::after {
    content: url("../img/decor/berries-2.png");
    position: absolute;
    top: 4%;
    right: 0;
}

.contact__img img {
    width: 100%;
    filter: drop-shadow(0px 4px 30px 0px #c6b0a14d);
}

.contact__body {
    max-width: 420px;
}

.contact__title {
    margin-bottom: 20px;
}

.contact__text {
    margin-bottom: 40px;
}

.contact__form {
}

.contact__label {
    margin-bottom: 10px;
}

.contact__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid var(--input-color);
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: var(--transition);
    margin-bottom: 20px;
}
.contact__input:hover {
    border-color: var(--accent-color);
}
.contact__input::placeholder {
    color: var(--input-color);
    transition: var(--transition);
}
.contact__input:hover::placeholder {
    color: var(--accent-color);
}

.contact__check-label {
    display: flex;
    align-items: start ;
    gap: 5px;
    max-width: 288px;
    font-size: 13px;
    margin-bottom: 20px;
}
.contact__check-label a {
    text-decoration: underline;
    transition: var(--transition);
}
.contact__check-label a:hover {
    color: var(--accent-color);
}

.contact__checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1.5px solid var(--input-color);
    transition: var(--transition);
    border-radius: 4px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
}
.contact__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("../img/icons/check.svg") 50% 50% no-repeat;
    opacity: 0;
    transition: var(--transition);
}

.contact__checkbox:hover {
    border: 1.5px solid var(--accent-color);
}
.contact__checkbox:checked {
    background: var(--accent-color);
    border: 1.5px solid var(--accent-color);
}
.contact__checkbox:checked::before {
    opacity: 1;
}