* {
background: #313236;
}

.section__text {
    margin: 0;
    font-size: 300%;
    color: #fff;
}

.rectangle {
    background: #fff;
    min-height: 100px;
    border-radius: 10px;
    position: fixed;  
    left: 50%;
    right: 50px;
    bottom: 100px;
}

.circle {
    background: #da3b3b;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: fixed;
    left: 55%;
    bottom: 150px;
}